@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfdfdf;
  --foreground: #000000;
  --selectorSelectedBackground: #ecb873;
  --selectorHoverBackground: rgba(255, 236, 173, 0.53);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --foreground: #ededed;
    --selectorSelectedBackground: #8f7400;
    --selectorHoverBackground: #704701;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
