@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf1dc;
  --secondaryBackground: #f5e2b8;
  --foreground: #000000;
  --selectorSelectedBackground: #fa824c;
  --selectorHoverBackground: #fa824c50;
  --selectorBackground: #00000010;
  --selectorBorder: #00000030;
  --greenButtonBackground: #9cd3a5;
  --greenButtonBackgroundSecondary: #9cd3a577;
  --redButtonBackground: #fc7753;
  --redButtonBackgroundSecondary: #fc775377;
  --footerBackground: #f0d494;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #424242;
    --secondaryBackground: #222121;
    --foreground: #c3c3c3;
    --selectorBackground: #ffffff10;
    --selectorBorder: #ffffff30;
    --selectorSelectedBackground: #4f1c03;
    --selectorHoverBackground: #4f1c0350;
    --greenButtonBackground: #397f42;
    --greenButtonBackgroundSecondary: #397f4277;
    --redButtonBackground: #641702;
    --redButtonBackgroundSecondary: #64170277;
    --footerBackground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: var(--footerBackground);
}
