@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF1DC;
  --secondaryBackground: #F5E2B8;
  --foreground: #000000;
  --selectorSelectedBackground: #FA824C;
  --selectorHoverBackground: #FA824C50;
  --selectorBackground: #00000010;
  --selectorBorder: #00000030;
  --greenButtonBackground: #9CD3A5;
  --footerBackground: #F0D494;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #424242;
    --secondaryBackground: #222121;
    --foreground: #ededed;
    --selectorBackground: #FFFFFF10;
    --selectorBorder: #FFFFFF30;
    --selectorSelectedBackground: #4F1C03;
    --selectorHoverBackground: #4F1C0350;
    --greenButtonBackground: #397F42;
    --footerBackground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: var(--footerBackground);
}